<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DevOps App</title>

<style>
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

.badge {
  margin: 10px;
  padding: 5px 12px;
  border: 1px solid #6366f1;
  border-radius: 20px;
  display: inline-block;
}

.status {
  margin-top: 20px;
}

.status div {
  margin: 5px 0;
}
</style>
</head>

<body>

<div class="container">
  <h1>🚀 DevOps App Live</h1>

  <div class="badge">GitHub Actions Pipeline</div>

  <div class="status">
    <div>✅ Build Completed</div>
    <div>✅ Lint Check Passed</div>
    <div>✅ Tested Successfully</div>
    <div>✅ Deployed on AWS</div>
  </div>
</div>

</body>
</html>